__pycache__/
*.pyc
.DS_Store
/review/rasp/GM/calc_funcs.ncl
/review/rasp/GM/colourlevels.ncl
/review/rasp/Dockerfile
/review/wrf/Dockerfile
/review/rasp/bin/download_icon.sh
/review/rasp/bin/ftp2u_subregion.pl
/review/rasp/bin/ftpgetdat_ftp2u.pl
/review/rasp/NL1KMGFS/GEOGRID.TBL
/review/rasp/NL1KMICON/GEOGRID.TBL
/review/rasp/NL4KMGFS/GEOGRID.TBL
/review/rasp/NL4KMICON/GEOGRID.TBL
/review/rasp/GM/getvars.ncl
/review/rasp/bin/GM-master.pl
/review/rasp/bin/gribftpget.pl
/review/rasp/GM/header.ncl
/.idea/icon-d2-pipeline.iml
/review/rasp/bin/jdate2date
/review/rasp/GM/labelbar.ncl
/review/rasp/ncl_jack/libncl_drjack.avx.cuda.so
/review/rasp/ncl_jack/libncl_drjack.avx.nocuda.so
/review/rasp/ncl_jack/libncl_drjack.avx2.cuda.so
/review/rasp/ncl_jack/libncl_drjack.avx2.nocuda.so
/review/rasp/ncl_jack/libncl_drjack.avx512.cuda.so
/review/rasp/ncl_jack/libncl_drjack.avx512.nocuda.so
/review/rasp/logo.png
/review/rasp/GM/meteogram.ncl
/.idea/misc.xml
/.idea/modules.xml
/review/rasp/NL1KMGFS/namelist.input
/review/rasp/NL1KMICON/namelist.input
/review/rasp/NL4KMGFS/namelist.input
/review/rasp/NL4KMICON/namelist.input
/review/rasp/NL1KMGFS/namelist.wps
/review/rasp/NL1KMICON/namelist.wps
/review/rasp/NL4KMGFS/namelist.wps
/review/rasp/NL4KMICON/namelist.wps
/review/rasp/GM/opts_bg.ncl
/review/rasp/GM/opts_cn.ncl
/review/rasp/GM/opts_sounding.ncl
/review/rasp/GM/opts_v.ncl
/review/rasp/GM/opts_ws.ncl
/review/rasp/GM/opts_xbl.ncl
/review/wrf/patch_configure_wps.sh
/review/wrf/patch_configure_wrf.sh
/review/wrf/patch_registry.sh
/review/rasp/GM/pfd.rgb
/review/rasp/GM/pgwind.rgb
/review/rasp/GM/plot_funcs.ncl
/review/rasp/GM/press26.rgb
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/review/rasp/NL1KMGFS/rasp.region_data.ncl
/review/rasp/NL1KMICON/rasp.region_data.ncl
/review/rasp/NL4KMGFS/rasp.region_data.ncl
/review/rasp/NL4KMICON/rasp.region_data.ncl
/review/rasp/NL1KMGFS/rasp.run.parameters.NL1KMGFS
/review/rasp/NL1KMICON/rasp.run.parameters.NL1KMICON
/review/rasp/NL4KMGFS/rasp.run.parameters.NL4KMGFS
/review/rasp/NL4KMICON/rasp.run.parameters.NL4KMICON
/review/rasp/NL1KMGFS/rasp.site.parameters
/review/rasp/NL1KMICON/rasp.site.parameters
/review/rasp/NL4KMGFS/rasp.site.parameters
/review/rasp/NL4KMICON/rasp.site.parameters
/review/rasp/NL1KMGFS/rasp.site.runenvironment
/review/rasp/NL1KMICON/rasp.site.runenvironment
/review/rasp/NL4KMGFS/rasp.site.runenvironment
/review/rasp/NL4KMICON/rasp.site.runenvironment
/review/rasp/GM/rasp.site_load.contour-parameter.ncl
/review/rasp/GM/rasp.site_load.pressure-level.ncl
/review/rasp/GM/rasp.site_load.skewt.ncl
/review/rasp/GM/rasp.site_load.wind.ncl
/review/rasp/GM/rasp.site_load.xbl.ncl
/review/rasp/bin/rasp2geotiff.py
/review/rasp/ncl_jack/Readme
/review/rasp/bin/runGM
/review/rasp/bin/runRasp.sh
/review/rasp/NL1KMGFS/sitedata.ncl
/review/rasp/NL1KMICON/sitedata.ncl
/review/rasp/NL4KMGFS/sitedata.ncl
/review/rasp/NL4KMICON/sitedata.ncl
/review/rasp/GM/skewt_func.ncl
/review/rasp/bin/title2json.pl
/review/rasp/GM/utils.ncl
/.idea/vcs.xml
/review/rasp/NL1KMGFS/Vtable
/review/rasp/NL1KMICON/Vtable
/review/rasp/NL4KMGFS/Vtable
/review/rasp/NL4KMICON/Vtable
/review/rasp/GM/wks.ncl
/review/rasp/GM/wrf2gm.ncl
/review/rasp/GM/wrf_plot.ncl
/review/rasp/ncl_jack/WRFUserARW.ncl.patch
/review/rasp/GM/xbl.ncl
